.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  font-size: 5px;
  font-weight: bold;
  padding: 0;
  position: relative;
  line-height: $square_size_small;
  height: $square_size_small;
  width: $square_size_small;

  .square-label {
    position: absolute;
    right: 2px;
    bottom: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 9px;
    z-index: 1;
  }

  &.dark {
    background-color: darkmagenta;
    /*
      rose: darkmagenta
      bleu: #003962
      marron: #582900
      vert: darkgreen
    */

    .square-label {
      color: white;
    }
  }

  &.light {
    background-color: #ffffee;
  }

  &:focus {
    outline: none;
  }

  .dot {
    height: 22%;
    width: 22%;
    border-radius: 50%;
    display: inline-block;
    opacity: 50%;
    margin: 39%;
    z-index: 1;
    position: absolute;
    background-color: orange;
  }
}

.square-selected {
  background-color: yellowgreen
}  

@include for-tablet-portrait-up { 
  .board-row {
    .square {
      line-height: $square_size_medium;
      height: $square_size_medium;
      width: $square_size_medium;
      font-size: 7px;
    }
  } 
}

@include for-desktop-up {
  .board-row {
    .square {
      line-height: $square_size_large;
      height: $square_size_large;
      width: $square_size_large;
      font-size: 9px;
    }
  } 
}