body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  overflow: hidden; }

::-moz-selection {
  background: rgba(0, 0, 0, 0); }

::selection {
  background: rgba(0, 0, 0, 0); }

ol, ul {
  padding-left: 30px; }

.kbd-navigation .square:focus {
  background: #ddd; }

.game {
  display: flex;
  flex-direction: row; }

.game-board {
  margin: auto; }
  .game-board .game-status {
    position: absolute;
    top: 0;
    width: 320px; }
    @media (min-width: 768px) {
      .game-board .game-status {
        width: 528px; } }
    @media (min-width: 1200px) and (min-height: 992px) {
      .game-board .game-status {
        width: 800px; } }
    .game-board .game-status .play-status {
      float: left; }
    .game-board .game-status .check-status {
      float: right; }

.hidden {
  display: none; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 1;
  opacity: 0.95; }

.game-intro,
.game-outro {
  position: relative;
  top: 20%;
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: black;
  opacity: 100%;
  color: white;
  height: 250px; }
  .game-intro h1,
  .game-outro h1 {
    text-align: center; }
  .game-intro .line,
  .game-outro .line {
    margin-bottom: 2px;
    border-bottom: 1px dashed orange; }
  .game-intro .large-line,
  .game-outro .large-line {
    margin-bottom: 2px;
    border-bottom: 1px dashed orange;
    line-height: 40px; }
  .game-intro .value,
  .game-outro .value {
    float: right;
    margin-right: 0;
    width: 120px;
    text-align: center; }
    .game-intro .value select,
    .game-outro .value select {
      background-color: darkorange;
      color: white;
      padding: 2px;
      width: 80px;
      border: none;
      font-size: 16px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: button;
      appearance: button;
      outline: none; }
    .game-intro .value select option,
    .game-outro .value select option {
      padding: 30px; }
  .game-intro .line-center,
  .game-outro .line-center {
    text-align: center;
    margin: 10px; }
  .game-intro .submit,
  .game-outro .submit {
    background-color: orange;
    color: white;
    width: 100px;
    border: none;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 3px;
    cursor: pointer; }
    .game-intro .submit:hover,
    .game-outro .submit:hover {
      background-color: darkorange; }
  @media (min-width: 1200px) and (min-height: 992px) {
    .game-intro .value,
    .game-outro .value {
      margin-right: 100px;
      width: 150px; }
      .game-intro .value select,
      .game-outro .value select {
        width: 150px; } }

.game-outro {
  height: 210px; }
  @media (min-width: 768px) {
    .game-outro {
      height: 170px; } }

.board-row:after {
  clear: both;
  content: "";
  display: table; }

.square {
  float: left;
  font-size: 5px;
  font-weight: bold;
  padding: 0;
  position: relative;
  line-height: 40px;
  height: 40px;
  width: 40px; }
  .square .square-label {
    position: absolute;
    right: 2px;
    bottom: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 9px;
    z-index: 1; }
  .square.dark {
    background-color: black; }
    .square.dark.blue {
      background-color: #6cdae7; }
    .square.dark.brown {
      background-color: #582900; }
    .square.dark.green {
      background-color: yellowgreen; }
    .square.dark.gray {
      background-color: darkslategray; }
    .square.dark.orange {
      background-color: darkorange; }
    .square.dark.violet {
      background-color: darkmagenta; }
    .square.dark.red {
      background-color: crimson; }
    .square.dark.last-move {
      background-color: lightskyblue; }
    .square.dark .square-label {
      color: white; }
  .square.light {
    background-color: #ffffee; }
    .square.light.last-move {
      background-color: lightskyblue; }
  .square:focus {
    outline: none; }
  .square .dot {
    height: 22%;
    width: 22%;
    border-radius: 50%;
    display: inline-block;
    opacity: 50%;
    margin: 39%;
    z-index: 1;
    position: absolute;
    background-color: orange; }

.square-selected {
  background-color: deepskyblue; }

@media (min-width: 768px) {
  .board-row .square {
    line-height: 66px;
    height: 66px;
    width: 66px;
    font-size: 7px; } }

@media (min-width: 1200px) and (min-height: 992px) {
  .board-row .square {
    line-height: 100px;
    height: 100px;
    width: 100px;
    font-size: 9px; } }

.pieces {
  position: absolute;
  margin-top: 20px;
  top: 0; }

.piece {
  width: 40px;
  height: 40px;
  position: absolute; }
  .piece img {
    padding: 2px;
    width: 36px;
    height: 36px; }

@media (min-width: 768px) {
  .piece {
    width: 66px;
    height: 66px; }
    .piece img {
      padding: 5px;
      width: 56px;
      height: 56px; } }

@media (min-width: 1200px) and (min-height: 992px) {
  .piece {
    width: 100px;
    height: 100px; }
    .piece img {
      padding: 7px;
      width: 86px;
      height: 86px; } }

.game-board {
  /** Pieces position on regular display mode **/
  /** Pieces position on reverse display mode **/ }
  .game-board.regular .columnB {
    left: 40px; }
  .game-board.regular .columnC {
    left: 80px; }
  .game-board.regular .columnD {
    left: 120px; }
  .game-board.regular .columnE {
    left: 160px; }
  .game-board.regular .columnF {
    left: 200px; }
  .game-board.regular .columnG {
    left: 240px; }
  .game-board.regular .columnH {
    left: 280px; }
  .game-board.regular .row1 {
    top: 280px; }
  .game-board.regular .row2 {
    top: 240px; }
  .game-board.regular .row3 {
    top: 200px; }
  .game-board.regular .row4 {
    top: 160px; }
  .game-board.regular .row5 {
    top: 120px; }
  .game-board.regular .row6 {
    top: 80px; }
  .game-board.regular .row7 {
    top: 40px; }
  .game-board.reverse .columnA {
    left: 280px; }
  .game-board.reverse .columnB {
    left: 240px; }
  .game-board.reverse .columnC {
    left: 200px; }
  .game-board.reverse .columnD {
    left: 160px; }
  .game-board.reverse .columnE {
    left: 120px; }
  .game-board.reverse .columnF {
    left: 80px; }
  .game-board.reverse .columnG {
    left: 40px; }
  .game-board.reverse .row8 {
    top: 280px; }
  .game-board.reverse .row7 {
    top: 240px; }
  .game-board.reverse .row6 {
    top: 200px; }
  .game-board.reverse .row5 {
    top: 160px; }
  .game-board.reverse .row4 {
    top: 120px; }
  .game-board.reverse .row3 {
    top: 80px; }
  .game-board.reverse .row2 {
    top: 40px; }

@media (min-width: 768px) {
  .game .game-board {
    /** Pieces position on regular display mode **/
    /** Pieces position on reverse display mode **/ }
    .game .game-board.regular .columnB {
      left: 66px; }
    .game .game-board.regular .columnC {
      left: 132px; }
    .game .game-board.regular .columnD {
      left: 198px; }
    .game .game-board.regular .columnE {
      left: 264px; }
    .game .game-board.regular .columnF {
      left: 330px; }
    .game .game-board.regular .columnG {
      left: 396px; }
    .game .game-board.regular .columnH {
      left: 462px; }
    .game .game-board.regular .row1 {
      top: 462px; }
    .game .game-board.regular .row2 {
      top: 396px; }
    .game .game-board.regular .row3 {
      top: 330px; }
    .game .game-board.regular .row4 {
      top: 264px; }
    .game .game-board.regular .row5 {
      top: 198px; }
    .game .game-board.regular .row6 {
      top: 132px; }
    .game .game-board.regular .row7 {
      top: 66px; }
    .game .game-board.reverse .columnA {
      left: 462px; }
    .game .game-board.reverse .columnB {
      left: 396px; }
    .game .game-board.reverse .columnC {
      left: 330px; }
    .game .game-board.reverse .columnD {
      left: 264px; }
    .game .game-board.reverse .columnE {
      left: 198px; }
    .game .game-board.reverse .columnF {
      left: 132px; }
    .game .game-board.reverse .columnG {
      left: 66px; }
    .game .game-board.reverse .row8 {
      top: 462px; }
    .game .game-board.reverse .row7 {
      top: 396px; }
    .game .game-board.reverse .row6 {
      top: 330px; }
    .game .game-board.reverse .row5 {
      top: 264px; }
    .game .game-board.reverse .row4 {
      top: 198px; }
    .game .game-board.reverse .row3 {
      top: 132px; }
    .game .game-board.reverse .row2 {
      top: 66px; } }

@media (min-width: 1200px) and (min-height: 992px) {
  .game .game-board {
    /** Pieces position on regular display mode **/
    /** Pieces position on reverse display mode **/ }
    .game .game-board.regular .columnB {
      left: 100px; }
    .game .game-board.regular .columnC {
      left: 200px; }
    .game .game-board.regular .columnD {
      left: 300px; }
    .game .game-board.regular .columnE {
      left: 400px; }
    .game .game-board.regular .columnF {
      left: 500px; }
    .game .game-board.regular .columnG {
      left: 600px; }
    .game .game-board.regular .columnH {
      left: 700px; }
    .game .game-board.regular .row1 {
      top: 700px; }
    .game .game-board.regular .row2 {
      top: 600px; }
    .game .game-board.regular .row3 {
      top: 500px; }
    .game .game-board.regular .row4 {
      top: 400px; }
    .game .game-board.regular .row5 {
      top: 300px; }
    .game .game-board.regular .row6 {
      top: 200px; }
    .game .game-board.regular .row7 {
      top: 100px; }
    .game .game-board.reverse .columnA {
      left: 700px; }
    .game .game-board.reverse .columnB {
      left: 600px; }
    .game .game-board.reverse .columnC {
      left: 500px; }
    .game .game-board.reverse .columnD {
      left: 400px; }
    .game .game-board.reverse .columnE {
      left: 300px; }
    .game .game-board.reverse .columnF {
      left: 200px; }
    .game .game-board.reverse .columnG {
      left: 100px; }
    .game .game-board.reverse .row8 {
      top: 700px; }
    .game .game-board.reverse .row7 {
      top: 600px; }
    .game .game-board.reverse .row6 {
      top: 500px; }
    .game .game-board.reverse .row5 {
      top: 400px; }
    .game .game-board.reverse .row4 {
      top: 300px; }
    .game .game-board.reverse .row3 {
      top: 200px; }
    .game .game-board.reverse .row2 {
      top: 100px; } }

.pawn-promotion {
  opacity: 90%;
  background-color: white;
  width: 100%;
  height: 681px;
  position: absolute;
  margin-top: 19px;
  top: 0; }
  .pawn-promotion .label {
    top: 195px;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    width: 680px; }
  .pawn-promotion .piece:hover {
    background-color: orange;
    border: 2px solid black; }
